<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SparkMediaManager.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SparkMediaManager.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <applicationSettings>
    <SparkMediaManager.Properties.Settings>
      <setting name="ApiTmdbBaseUrl" serializeAs="String">
        <value>http://api.themoviedb.org/3/</value>
      </setting>
      <setting name="ApiTmdbKey" serializeAs="String">
        <value>a41efefdade1a5130dd72cc2dcd64044</value>
      </setting>
      <setting name="ApiTvdbKey" serializeAs="String">
        <value>BFF292D0FBAF9007</value>
      </setting>
      <setting name="ApiTvdbBaseUrl" serializeAs="String">
        <value>https://api.thetvdb.com/</value>
      </setting>
    </SparkMediaManager.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <SparkMediaManager.Properties.Settings>
      <setting name="prefIdiomaPesquisa" serializeAs="String">
        <value>pt</value>
      </setting>
      <setting name="ApiTvdbJwtToken" serializeAs="String">
        <value />
      </setting>
    </SparkMediaManager.Properties.Settings>
  </userSettings>
</configuration>